<h1>Display your Pirate here</h1>
  <h2> <%= "The name of your pirate is: #{@pirate_name}" %> <h2>
  <h2> <%= "The weight of your pirate is: #{@pirate_weight}" %> <h2>
  <h2> <%= "The height of your pirate is: #{@pirate_height}" %> <h2>


<h2>Display your first ship here</h2>
<h3><%= "The pirate's first ship's name is #{@pirate_firstship}" %></h3>
<h3><%= "The pirate's first ship's type is #{@pirate_firsttype}" %></h3>
<h3><%= "The pirate's first ship's booty is #{@pirate_firstbooty}" %></h3>

<h2>Display your second ship here</h2>
<h3><%= "The pirate's first ship's name is #{@pirate_firstship}" %></h3>
<h3><%= "The pirate's first ship's name is #{@pirate_firstship}" %></h3>
<h3><%= "The pirate's first ship's name is #{@pirate_firstship}" %></h3>
